body {
  font-family: sans-serif;
  padding: 20px;
}

#login {
  margin-bottom: 20px;
}

#messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#messages > div:nth-child(2n) {
  text-align: right;
  background-color:deepskyblue;
}

#messages > div:nth-child(2n+1) {
  text-align: left;
  background-color: deeppink;
}
.hidden {
  display: none;
}